---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  url: string;
  title: string;
  imageUrl: string;
  imageAlt: string;
  citation: string;
}

const { url, title, imageUrl, imageAlt, citation } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/research/*.{jpeg,jpg,png,gif,svg,webp}",
);
if (!images[imageUrl])
  throw new Error(
    `"${imageUrl}" does not exist in glob: "/src/assets/research/*.{jpeg,jpg,png,gif,svg,webp}"`,
  );
---

<div class="paper-card">
  <div class="paper-text">
    <h6><a href={url}>{title}</a></h6>
    <p>{citation}</p>
  </div>
  <Image src={images[imageUrl]()} alt={imageAlt} width="100" />
</div>
<style>
  .paper-card {
    background-color: var(--gray-light);
    display: flex;
    flex-direction: row;
    gap: 0em 2em;
    padding: 0.5em;
    width: 600px;
  }
  h6 {
    color: var(--body-color);
    font-weight: normal;
  }
  p {
    color: var(--focus-color);
  }
  img {
    object-fit: contain;
  }
</style>
