---
import { Picture } from "astro:assets";
import { render } from "astro:content";
import SocialLink from "./SocialLink.astro";

const { member } = Astro.props;
const { Content } = await render(member);
---

<div class="member">
  <div class="member-info">
    <h4>{member.data.name}</h4>
    <Content />
    <div class="social-links">
      {
        member.data.website && (
          <SocialLink
            href={member.data.website}
            srText={`Visit ${member.data.name}'s personal website`}
            iconName="link-solid-full"
          />
        )
      }
      {
        member.data.email && (
          <SocialLink
            href={`mailto:${member.data.email}`}
            srText={`Email ${member.data.name}`}
            iconName="envelope-solid-full"
          />
        )
      }
      {
        member.data.googleScholar && (
          <SocialLink
            href={member.data.googleScholar}
            srText={`Visit ${member.data.name}'s Google Scholar profile`}
            iconName="google-scholar-brands-solid-full"
          />
        )
      }
      {
        member.data.github && (
          <SocialLink
            href={member.data.github}
            srText={`Visit ${member.data.name}'s GitHub profile`}
            iconName="github-brands-solid-full"
          />
        )
      }
      {
        member.data.linkedIn && (
          <SocialLink
            href={member.data.linkedIn}
            srText={`Visit ${member.data.name} on LinkedIn`}
            iconName="linkedin-brands-solid-full"
          />
        )
      }
      {
        member.data.youtube && (
          <SocialLink
            href={member.data.youtube}
            srText={`Visit ${member.data.name}'s YouTube channel`}
            iconName="youtube-brands-solid-full"
          />
        )
      }
      {
        member.data.cv && (
          <SocialLink
            href={`/../${member.data.cv}`}
            srText={`Visit ${member.data.name}'s CV`}
            iconName="file-solid-full"
          />
        )
      }
      {

      }
    </div>
  </div>
  {
    member.data.imageUrl && (
      <Picture
        src={member.data.imageUrl}
        alt={member.data.imageAlt}
        width={200}
      />
    )
  }
</div>

<style>
  .member {
    display: flex;
    justify-content: space-between;
    margin: 2em 0em 2em 0em;
  }
  .member-info {
    width: calc(var(--large-width) - 300px);
    margin-right: 2em;
  }
  .social-links {
    display: flex;
  }
</style>
