---
import PostLayout from "../../layouts/PostLayout.astro";
import Funding from "../../components/Funding.astro";
import PaperCard from "../../components/PaperCard.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.id },
    props: { post: project },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
const allPapers = await getCollection("papers");
let currentPapers = allPapers.filter((paper) =>
  paper.data.projects.includes(post.id),
);
currentPapers = currentPapers.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<PostLayout {...post.data}>
  <div class="page-container">
    <div class="content-container">
      <Content />
      <hr />
    </div>
    {
      currentPapers.length > 0 && (
        <div class="papers-container">
          <div class="papers-container-horizontal">
            <div class="papers-text-container">
              <h5>Relevant publications</h5>
            </div>
            <div class="paper-cards-container">
              {currentPapers.map((paper) => (
                <PaperCard
                  url={`/papers/${paper.id}`}
                  title={paper.data.title}
                  citation={paper.data.citation}
                  imageUrl={paper.data.imageUrl}
                  imageAlt={paper.data.imageAlt}
                  paperUrl={paper.data.paperUrl || ""}
                />
              ))}
            </div>
          </div>
          <hr />
        </div>
      )
    }
    {
      post.data.funding && (
        <div class="funding-container">
          <p>This work was funded in part by {post.data.funding}.</p>
          <Funding fundingSlugs={post.data.fundingSlugs || []} />
        </div>
      )
    }
  </div>
</PostLayout>
<style>
  .page-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
  .papers-container-horizontal {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
  .papers-text-container {
    align-content: center;
    text-transform: uppercase;
  }
  .paper-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  @media (max-width: 1020px) {
    .papers-container-horizontal {
      align-items: stretch;
      flex-direction: column;
      gap: 1em;
    }
    .paper-cards-container {
      width: 100%;
    }
  }
</style>
