---
import BaseLayout from "./BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
const { title, subtitle, date, imageUrl } = Astro.props;
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="post-container">
    <h1>{title}</h1>
    <h6>{subtitle}</h6>
    <h6>{date}</h6>
    <!-- <Image src={imageUrl} alt={title} /> -->
    <hr />
    <slot />
  </div>
</BaseLayout>
<style>
  .post-container {
    margin: 0 auto;
    max-width: var(--medium-width);
  }
  .date-container {
    padding: 0.5em 0em 0.5em 0em;
  }
  .post-container h6 {
    color: var(--secondary-color);
    font-weight: normal;
    margin-top: 0.5em;
  }
</style>
