---
import BaseLayout from "./BaseLayout.astro";
import Funding from "../components/Funding.astro";
import PostHeader from "../components/PostHeader.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title, subtitle, date, dateUpdated, imageUrl, imageAlt, funding, fundingSlugs } = Astro.props;
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="post-container">
    <PostHeader title={title} subtitle={subtitle} date={date} dateUpdated={dateUpdated} imageUrl={imageUrl} imageAlt={imageAlt} />
    <slot />
    {funding && 
      <hr />
      <h2>Funding</h2>
      <p>This work was funded in part by {funding}.</p>
      <Funding fundingSlugs={fundingSlugs || []} />
    }
  </div>
</BaseLayout>
<style>
  .post-container {
    margin: 0 auto;
    max-width: var(--medium-width);
  }
</style>
