---
import BaseLayout from "./BaseLayout.astro";
import Funding from "../components/Funding.astro";
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title, subtitle, dateUpdated, imageUrl, imageAlt, funding, fundingSlugs } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/research/*.{jpeg,jpg,png,gif,webp}",
);
if (!images[imageUrl])
  throw new Error(
    `"${imageUrl}" does not exist in glob: "/src/assets/research/*.{jpeg,jpg,png,gif,webp}"`,
  );
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="post-container">
    <div class="image-container">
      <Image src={images[imageUrl]()} alt={imageAlt} />
    </div>
    <h1>{title}</h1>
    <div class="caption-container">
      <h4>{subtitle}</h4>
      <div class="date-container">
        <h5>Last updated: 
          {
            dateUpdated &&
            dateUpdated.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </h5>
      </div>
    </div>
    <hr />
    <slot />
    <hr />
    {funding && 
    <h2>Funding</h2>
    <p>This work was funded in part by {funding}.</p>
    <Funding fundingSlugs={fundingSlugs || []} />}
  </div>
</BaseLayout>
<style>
  .post-container {
    margin: 0 auto;
    max-width: var(--medium-width);
  }
  .caption-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em 0em;
  }
  .caption-container * {
    color: var(--secondary-color);
    font-weight: normal;
  }
  .image-container {
    margin-bottom: 1em;
  }
</style>
